:root {

}

.wrapp {
  width: 80%;
  margin: 20px auto;
}
.wrapp .header {
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 25);
  display: flex;
  align-items: center;
  position: relative;
}
.header img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  position: absolute;
  top: 50px;
  left: 40px;
  border: 5px solid rgb(255, 206, 115);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  filter: grayscale(100%);
}
.header-info {
  display: flex;
  margin-left: 80px;
  color: green;
  background-color: rgb(189, 44, 44);
  position: relative;
  opacity: 60%;
  width: 300px;
  height: 100px;
}
.header img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  box-shadow: 3px 3px 25px rgba(229, 245, 141, 0.8);
}
.title-text {
  color: white;
  width: 60%;
  margin-left: auto;
}
.title-text h1 {
  font-size: 80px;
  font-weight: normal;
  margin-bottom: auto;
}
.title-text p {
  font-size: 20px;
  color: lightgray;
  margin-top: auto;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.left-field {
  max-width: 300px;
  min-width:250px;
  width: 30%;
  background-color: rgb(206, 199, 97);
  text-align: center;
  padding-bottom: 20px;
}
.left-field .contacts {
  margin-top: 120px;
  padding: 0 30px;
}
.contacts h4 {
  font-size: 30px;
  font-weight: normal;
  margin: 20px 0;
}
.contacts h5 {
  font-size: 18px;
  margin: 10px 0;
}
.contacts p, a {
  font-size: 17px;
}
.skills {
  margin-top: 30px;
}
.skills h1 {
  font-size: 30px;
  font-weight: normal;
}

.bars {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
  padding: 0 25px;
}

.bars .bar p {
  font-size: 15px;
  font-weight: bold;
}
.bar span {
  display: block;
  width: 100%;
  height: 10px;
  background-color: rgb(134, 134, 134);
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
}
.bar span::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 90%;
  background-color: black;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  border-radius: 10px;
}
.follow h1 {
  margin: 30px;
  font-size: 30px;
  font-weight: normal;
}
.follow h4 {
  font-size: 18px;
  margin: 10px 0;
}
.follow p {
  font-size: 18px;
  color: gray;
}

.right-field {
  width: 60%;
  padding: 20px;
  hyphens: manual;
}
.right-field h1 {
  font-size: 30px;
  font-weight: normal;
}
.right-field h1 span {
  margin-right: 20px;
  font-size: 50px;
  color: lightgray;
}
.right-field p {
  padding-left: 70px;
  text-align: justify;
  word-break: break-all;
  font-size: 18px;
  color: rgb(80, 80, 80);
  margin-top: 10px;
}
.work .work-group {
  position: relative;
}
.work .work-group h4,
h3 {
  margin: 5px;
  padding: 0;
}
.work .work-group p, .right-field .about p {
    word-break: normal;
}
.work-group span{
  position: absolute;
  top: 10px;
  right: 0;
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.edu .edu-group {
  position: relative;
}
.edu .edu-group h4,
h3 {
  margin: 5px;
  padding: 0;
}
.folow-link {
    font-size: 56px;
    filter:grayscale();
    margin: 10px;
    align-items:center;
}
.folow-link:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
